<div class="container">
    <div class="error" ng-if="loadingError">
        <h2>Erreur de chargement des opérations !</h2>
        <p>{{ loadingError.statusText }}</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-title">
                    <h2>Operation</h2>
                </div>
                <div class="box-content">
                    <div class="no-content" ng-if="operations.length == 0">Aucune opération</div>
                    <table class="table table-condensed rbrsva-table" ng-if="operations.length > 0">
                        <thead>
                        <tr>
                            <th>Libellé</th><th>Propriétaire</th><th>Solde</th><th>Voir</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="operation in operations">
                            <td>{{ operation.libelle }}</td>
                            <td>{{ operation.proprietaire }}</td>
                            <td>{{ operation.solde }}</td>
                            <td>
                                <a href="{{ $state.href('compte', {idCompte: compte.idCompte}) }}" class="button-wrapper">
                                    <button type="button" class="btn btn-default btn-sm">Voir</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>